body {
    background-color: #2c3142;
    color: #eeeee4;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.ddToolbox {
    height: 800px;
    width: 200px;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
}

.ddCanvas {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 200px;
    padding: 0
}